
/* fancy font */

@font-face  {
    font-family: DancingScript-Bold;
    src: url("DancingScript-Bold.ttf");
}

body    {
   background-color: gray;
}

h1, h3, h4 {
    font-family: 'DancingScript-Bold';
}

h1  {
    color: whitesmoke;
    font-size: 20px;
}

/* Jumbotron Image */

.jumbotron  {
    background-image: url('img/plaid2.jpg');
    border-radius: 0;
}


.bg {
    background-color: black;
    color: white;
}


.main-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: lightblue;
    padding: 1em 0;
  }
  
  .social-container {
    display: flex;
  }
  
  .social {
    border-radius: 50%;
    background: grey;
    width: 50px;
    height: 50px;
    margin: 1em;
  }



/* MEDIA QUERIES */

@media (min-width: 769px) {

    .navbar,
    .jumbotron,
    .row    {
        width: 90%;
        margin: 0 auto;
    }

}

@media (min-width: 1025px) {

    .navbar,
    .jumbotron,
    .row    {
        width: 90%;
        max-width: 1150px;
    }
}